body {
  font-family: Arial;
  padding: 20px;
}

#error {
  color: red;
}

/* lista */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

/* botão remover */
.remover {
  margin-top: 5px;
}

/* modo escuro */
.dark-mode {
  background: black;
  color: white;
}

.dark-mode .card {
  border-color: white;
}